* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: pink;
    font-family: fantasy;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.flex-parent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-image: url('img/backround.jpeg');
    background-size: cover;
    border: 2px yellowgreen;
    
    border-radius: 10px;
}

.inner {
    background-color: aqua;
    width: 50%;
    min-height: 100px;
    text-align: center;
    border-radius: 10px;
}

.input {
    background-color: rgb(160, 221, 179);
    border-radius: 10px;
}

.input-item {
    list-style: none; /* Remove bullets */
    padding: 10px;
}

.input-instruction {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

input[type="text"] {
    border: none; /
    border-radius: 15px; 
    padding: 10px;
    margin: 5px;
}

button {
    background-color: pink;
    border: none; 
    border-radius: 15px; /* Apply border-radius to round the button */
    color: rgb(238, 175, 226);
    padding: 15px;
    font-size: 1rem;
}

button:hover {
    background-color: rgb(255, 220, 239); 
    
} 


#poem-result { 
    background-color: rgb(248, 166, 248, 0.7);
    border: :2px greenyellow;
  font-size: 24px;  
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}